/* css variables(Repating things that will be use) */
:root{ /* root use for making a global statement so everything that's is inside of it can be use for anything if you make a statment for it in another code*/
    --primary:#ddd;
    --dark:#333333;
    --light:#fff;
    --shadow: 0 1px 5px rgba(104,104,104, 0.8);
    
}
html { /* pretty much define how the whole html doc should react, in the border, what kind things is the law*/
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body{
    background: #ffffff;
    margin: 0px 0px;
    line-height: 1.2; 
    
}
/* our button*/
.btn{
    background: var(--dark);
    color: var(--light);
    padding: 1rem 2rem;
    text-decoration: none;
    padding: left;
    border: 0;
    font-size: 40px;
    
    
    
    
}
/* make sure the picture their is use is scale 100% from the orignale so i don't look awfull*/
img{
    max-width: 100%;
}
/* Making sure that css know we are working in grid for the whole html, When we wrapper everything this document. so each item can move around in this*/
.wrapper {
    display: grid;
    grid-gap:0 ;
}

/* nav*/
/* Making so our logo is at the top at the page*/
nav img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.navbar-links {
    height: 100%;
}
/* setting how many columns that should be in line.*/
.navbar-links ul {
    display: grid;
    grid-gap: 5px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
}

.navbar-links li {
    list-style: none;
}
/* Setting the ankers tags defition so it don't show it's blue outline **/
.navbar-links a{
   background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

/* making it changes color when mouse course moves ontop the objetive*/
.navbar a:hover {
    background: var(--dark);
    color: var(--light);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--light);
    border-radius: 10px;
}

.H-p{
    font-size: 1.7rem;
}

/* topcointer container*/

/* the whole topcatainer is maaking my own layout as I fit with grids*/
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    'picture picture'
}

/* Picture for the container and also making use of flex box so the button can be move around in verticale line */
.picture {
    grid-area: picture;
    min-height: 400px;
    background:url(img/HomepageDoctor.jpg) ;
    background-size: cover;
    background-position: center;
    padding: 6rem;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var();
}
/* section 1 */
/* grid for the box below the picture, box-a and box-b is define since should be easy move it around in if it need to be*/
section a{
    text-decoration: none;
}
.boxes{
display: grid;
grid-gap: 5px;
grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
margin: 0px;
position: top;
text-decoration: none;
}

.box-a{
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
    text-decoration: none;
    color: var(--dark);
    
}

.box-b{
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
    text-decoration: none;
    color: var(--dark);
    
}
/* Section 2 */

.boxess{
display: grid;
grid-gap: 5px;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
margin: 0;
text-decoration: none;
        list-style-type: none;
    }
    .boxx{
        background: var(--primary);
        text-align: left;
        padding: 1.5rem 2rem;
        box-shadow: var(--shadow);
        text-decoration: none;
        font-size: 1.2rem;
    }
    .boxxx{
        background: var(--primary);
        text-align: center;
        padding: .5rem 2rem;
        box-shadow: var(--shadow);
        font-size: 1.2rem;
          
    }

/* .welcome-box{
        grid-area: welcome-box;
        min-height: 200px;
        background:var(--primary);
        display:flex;
        flex-direction: column;
        box-shadow: var(--shadow); */

.footer{
    text-align: center;
    background: var(--dark);
    color: var(--light);
    padding: 40px;
  }

/* Media Queries */
/* define how the content should react when on different device*/
@media (max-width: 700px) {
    .top-container {
      grid-template-areas:
        'picture'
    }
  
    .navbar-links ul {
      grid-template-columns: 1fr;
        display: grid;
        grid-gap: 0px;
        padding: 0;
        list-style: none;
    }
    
    /* section 1 */
.boxes{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    text-decoration: none;
    }
    .box-a{
        background: var(--primary);
        text-align: center;
        padding: 1.5rem 2rem;
        box-shadow: var(--shadow);
        text-decoration: none;
        
    }
    
    .box-b{
        background: var(--primary);
        text-align: center;
        padding: 1.5rem 2rem;
        box-shadow: var(--shadow);
        text-decoration: none;
        
    }
    /* Section 2 */
    .boxess{
        display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 0px;
        }
        .boxx{
            background: var(--primary);
            text-align: left;
            padding: 1.5rem 2rem;
            box-shadow: var(--shadow);
            text-decoration: none;
        }
        .boxxx{
            background: var(--primary);
            text-align: center;
            padding: .5rem 2rem;
            box-shadow: var(--shadow);
            text-decoration: none;
        }

    .btn {
        display: block;
        text-align: center;
        margin: auto;
      }
    }
    .toggle-button {
        display: flex;
    }
  
  @media (max-width: 500px) {
    .top-container {
      grid-template-areas:
        'picture'
    }
    .navbar-links ul {
        grid-template-columns: 1fr;
          display: grid;
          grid-gap: 0px;
          padding: 0;
          list-style: none;
      }
      /* Section 1 */
      .boxes{
        display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        }
        .box-a{
            background: var(--primary);
            text-align: center;
            padding: 1.5rem 2rem;
            box-shadow: var(--shadow);
            
        }
        
        .box-b{
            background: var(--primary);
            text-align: center;
            padding: 1.5rem 2rem;
            box-shadow: var(--shadow);
            
        }
        /* Section 2 */
        .boxess{
            display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        margin: 0px;
            }
            .boxx{
                background: var(--primary);
                text-align: left;
                padding: 1.5rem 2rem;
                box-shadow: var(--shadow);
                text-decoration: none;
            }
            .boxxx{
                background: var(--primary);
                text-align: center;
                padding: .5rem 2rem;
                box-shadow: var(--shadow);
                text-decoration: none;
            }
      }




